<div class="page-header">
	<i class="fa fa-bullhorn fa-2x" style="color: red"></i>
	<span>현재 접속자 인원 :</span>
	<span id="info-messages"></span>
	<span>명</span>
	<p>Signed in as @<%= current_user.name %>.</p>
</div>


<div class="row">
	<div class="col-xs-7 gamespace">
	
		<div class = "myside">
		card order
		</div>

		<div class = "deck">
		</div>
		<div class= "count_deck">
		<i class="fa fa-laptop fa-2x" style="color: black"></i>
		<strong> : <%= Pockercard.where(player_id:"1").count %></strong>
		</div>
		

		<div class = "dummy">
		dummy
		</div>
		<div class= "count_dummy">
		<i class="fa fa-trash fa-2x" style="color: black"></i>
		<strong> : <%= Pockercard.where(player_id:"2").count %></strong>
		</div>


		<div class = "player2">
		<i class="fa fa-child fa-2x" style="color: #ff4646"></i>player2
		</div>
		<div class = "count_p2">
		<i class="fa fa-credit-card fa-lg" style="color: #ff4646"></i> 
		<strong> x <%= Pockercard.where(player_id:"4").count %></strong>
		</div>


		<div class = "player3">
		<i class="fa fa-child fa-2x" style="color: orange"></i>player3
		</div>
		<div class = "count_p3">
		<i class="fa fa-credit-card fa-lg" style="color: orange"></i> 
		<strong> x <%= Pockercard.where(player_id:"5").count %></strong>
		</div>

		<div class = "player4">
		<i class="fa fa-child fa-2x" style="color: blue"></i>player4
		</div>
		<div class = "count_p4">
		<i class="fa fa-credit-card fa-lg" style="color: blue"></i> 
		<strong> x <%= Pockercard.where(player_id:"6").count %></strong>
		</div>

		<div class = "player5">
		<i class="fa fa-child fa-2x" style="color: #9e37d1"></i>player5
		</div>
		<div class = "count_p5">
		<i class="fa fa-credit-card fa-lg" style="color: #9e37d1"></i> 
		<strong> x <%= Pockercard.where(player_id:"7").count %></strong>
		</div>
	</div>
	
	<div class="col-xs-3">
		<div class="chatting_space">
			<div class="outside" id="messages">
			</div>
			<div class="form-group">
				<textarea class="form-control" rows="2" id="chat-speak"></textarea>
			</div>

		</div>
	</div>
	
	<div class="col-xs-2">
		<div class="user_info">
		<h3>[user info]</h3>
			<div id="user-info-items"></div>
		</div>
		
	</div>

	<div class="col-xs-5">
		<div class="user_info card-info-min">
		<h3>[card info]</h3>
			<div id="card-info-items"></div>
		</div>
	</div>

</div>

<br>

<div class="remote_controller">
<h3 style="color:orange;">우주가 만든 리모컨</h3>
<div id="test_function" class="btn btn-primary">test_function</div>
<div id="test_function2" class="btn btn-primary">test_function2</div>
<div id="start_game" class="btn btn-primary">start_game</div>
<div id="draw_card" class="btn btn-primary">draw_card</div>
<div id="shuffle_cards" class="btn btn-primary">shuffle_cards</div>

<div id="change_shape1" class="btn btn-primary">shape_spade</div>
<div id="change_shape2" class="btn btn-primary">shape_diamond</div>
<div id="change_shape3" class="btn btn-primary">shape_clover</div>
<div id="change_shape4" class="btn btn-primary">shape_heart</div>


<div id="card1" class="btn btn-primary">card1</div>
<div id="card2" class="btn btn-primary">card2</div>
<div id="card3" class="btn btn-primary">card3</div>
<div id="card4" class="btn btn-primary">card4</div>
<div id="card5" class="btn btn-primary">card5</div>
<div id="card6" class="btn btn-primary">card6</div>
<div id="card7" class="btn btn-primary">card7</div>
<div id="card8" class="btn btn-primary">card8</div>
</div>